/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

/* TailwindCSS base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Show horizontal rule (hr) when a link is active */
a.active hr {
  display: block;
}

/* Set default font family to Outfit */
* {
  font-family: Outfit;
}

/* Define Prata font style */
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Mobile-specific styles for active dropdown links */
@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
